/*-------------------------EXTENSION CHROME CSS-------------------------*/

* {
    margin: 0;
    padding: 0;
}

.main {
    margin: 0 auto;
    background: url(../img/night.png) no-repeat;
    width: 300px;
}

.transformedDawn {
    margin: 0 auto;
    background: url(../img/night.png) no-repeat;
    width: 300px;
    border: #e1db23 solid 2px;
}

.transformedNoon {
    margin: 0 auto;
    background: url(../img/day.png) no-repeat;
    width: 300px;
    border: #e9810b solid 2px;
}

.transformedDusk {
    margin: 0 auto;
    background: url(../img/night.png) no-repeat;
    width: 300px;
    border: #2e2079 solid 2px;
}

.time {
    text-align: center;
    padding: 20px;
}

.sun {
    padding-top: 50px;
    text-align: center;
    font-size: 1.2em;
    font-weight: lighter;
    color: #333;
}

#phase {
    padding: 10px;
    text-align: center;
    color: #e1db23;
    text-shadow: #000 1px 1px 1px;
    font-weight: bold;
}

#phase img {
    width: 50%;
}

/* 

.moon-phase img {
    width: 100px; 
    height: auto;
    animation: moon-phase-animation 2s infinite;
}

@keyframes moon-phase-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
} */